<footer class="footer">
  <small>
    Test Application
  </small>
  <nav>
    <ul>
      <li><%= link_to "Reservations",   root_path %></li>
      <li><%= link_to "New Reservation", new_reservation_path %></li>
      <li><%= link_to "Check Availability", availability_path %></li>
    </ul>
  </nav>
</footer>